body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  font-size: 1.3rem;
}

.ReactTable > .rt-table > .rt-body > .rt-tr-group > .rt-tr > .rt-td:first-child {
  background-color: #3fbc36
}

.ReactTable .-pagination .-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  padding: 6px;
  font-size: 1em;
  color: var(--secondary-clr);
  background: #3fbc36;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
  outline: none;
}

.ReactTable .-pagination .-btn {
  background-color: #3fbc36 !important;
  color: white !important;
  border: none;
}
.ReactTable .-pagination .-btn[disabled] {
  color: white !important;
  cursor: pointer;
  border: none;
}

.ReactTable .rt-thead.-header {
  background-color: #3fbc36;
  color: white;
  padding: 7px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ReactTable .-pagination .-btn:not([disabled]):hover {
  background-color: #3fbc36;
  border-color: #fff;
}