.profileImage {
  width        : 55px;
  height       : 55px;
  border-radius: 8px
}

.profileContainer {
  display            : flex;
  align-items        : center;
  /* background-color: #fff; */
  padding            : 7px 10px;
  border-radius      : 10px;
  width              : 100%;
  margin             : 7px 0px;
}

.profileBody {
  margin-left: 10px;
  flex       : 1;
}

.profileName {
  font-size: 14px;
  margin   : 0;
}

.profileMatricule {
  font-size: 18px;
  /* margin: 0; */
}

.checkBox {
  border-width    : 0;
  background-color: transparent;
}